*{
 margin: 5px;
 padding: 5px;
}
#container{
 background-color: silver;
 margin: 0px auto;
 padding-bottom: 30px;
position: relative;
}
#header{
 height: 150px;
 background-color: blue;
}
#nav_bar{
 height: 400px;
 width: 180px;
 background-color: red; 
 /* margin-bottom:; */
 
}
#main_content{
 height: 450px;
 
 background-color: yellow; 
 margin-left: 14.4%;
 margin-top: -414px;
 position: relative;
 padding-bottom: 0px;
 
}
.subcontent{
 height: 300px;
 width: 30%;
 background-color: purple;
 display: inline-block;
}
#advertisements{
 height: 90px;
 width: 94%;
 background-color: pink;
}